.pay-info-list{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: hsla(0, 60%, 2%, 0.5);
    font-weight: bold;
}
h1,h2,h3,h4,h5,div{
    font-family: Samim, "Open Sans", Tahoma, Arial !important;
}